<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="top::menu" style="padding-bottom: 50px;"></div>
<head>
    <title>Welcome!</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<style>
  .table-hover th{
  text-align: center;
  width: 100px;
  vertical-align: middle;
  font-size: 18px;
  }
  .table-hover td{
  text-align: center;
  width: 300px;
  }
  p{
    color:red;
  }

</style>
<body>
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="row">
            <div class="container-fluid" style="align: left; vertical-align:center;">

                <div style="padding-bottom:30px;">
                    <h1>User만 글쓰기가 가능한 가입인사</h1>
                </div>

                <div class=" input-group mb-3">
                    <form method="post" action="/hello_board_in" style="display: inline">
                        <input type="text" class="form-control" placeholder="가입 인사" name="hello_greeting"
                               id="hello_greeting">
                        <input type="hidden" id="hello_writer" name="hello_writer"
                               th:value="${#httpServletRequest.remoteUser}"
                               class="form-control mt-3">
                        <button type="button" class="btn btn-outline-secondary" name="write" id="write">등록</button>
                    </form>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-default" id="helloCall">가입인사 보기</button>
                        <br><br>
                        <table class="table table-borderless"
                               style="text-align: center; border-collapse: collapse; margin-left: auto; margin-right:
                                       auto;border-left: none; border-right: none;vertical-align: middle;"
                               id="helloTable" th:fragment="helloTable">
                            <tr th:each="hello,state : ${hello2}">
                                <th:block th:if="${hello2 != null}">
                                    <th th:text="${hello.hno}" style="text-align: center"></th>
                                    <td th:text="${hello.hello_writer}" style="text-align: center"></td>
                                    <td th:text="${hello.hello_greeting}" style="text-align: center"></td>
                                    <td th:text="${hello.hello_like}" style="text-align: center"></td>
                                    <td th:text="${hello.hello_writeday}" style="text-align: center"></td>
                                    <td th:if="${#httpServletRequest.remoteUser == hello.hello_writer }" >
                                        <button class="btn btn-default" type="button" id="hello_del">삭제</button>
                                    </td>
                                    <td th:else="${#httpServletRequest.remoteUser != hello.hello_writer }">
                                        <input class="btn btn-default" type="hidden"></input>
                                    </td>
                                </th:block>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--
<div class="container mt-3">
    <div class="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPage -1)}">
                <a th:href="@{/hello_board(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
            </li>
        </ul>
    </div>
</div>
-->
</body>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
            $(document).ready(function(){
                $("#write").click(function(){
                    var json = {
                        hello_writer : $("#hello_writer").val(),
                        hello_greeting : $("#hello_greeting").val()
                    };

                    for(var str in json){
                        //JSON에 STR의 길이가 0일 경우
                        if(json[str].length == 0){
                            //해당하는 ID에 placeholder를 찾아 경고창을 띄움
                            alert($("#" + str).attr("placeholder") + "를 입력해주세요.");
                            //해당하는 ID에 포커스를 올림
                            $("#" + str).focus();
                            //리턴
                            return;
                        }
                    }

                     $.ajax({
                        type : "post",
                        url : "/hello_board_in",
                        data : json,
                        success : function(data) {
                            alert('등록되었습니다. ');
                            console.log("인사말 등록 성공");
                            location.reload();
                        },
                        error : function(error) {
                            alert("오류 발생"+ error);
                        }
                    });
                });
            });


</script>

<script type="text/javascript">
window.onload = function() {
	var httpRequest;
	// 호출 버튼을 클릭하였을 때, 데이터를 요청하고 받아오는 Ajax 구현 부분
	document.getElementById("helloCall").addEventListener('click', () => {
		httpRequest = new XMLHttpRequest();
	    httpRequest.onreadystatechange = () => {
		    if (httpRequest.readyState === XMLHttpRequest.DONE) {
			      if (httpRequest.status === 200) {
			    	  document.getElementById("helloTable").innerHTML = httpRequest.response;
			      } else {
			        alert('Request Error!');
			      }
		    }
	    };
	    httpRequest.open('GET', '/hello_board_out');
	    httpRequest.send();
	});
}

</script>


<div th:replace="footer::footer"></div>

</html>