<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="top::menu" style="padding-bottom: 50px;"></div>

<head>
    <title>Welcome!</title>
</head>
<style>
  .table-hover th{
  text-align: center;
  width: 100px;
  vertical-align: middle;
  font-size: 18px;
  }
  .table-hover td{
  text-align: center;
  width: 300px;
  }
  p{
    color:red;
    }



</style>
<body>
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="row">
            <div class="container-fluid" style="align: left; vertical-align:center;">

                <div style="padding-bottom:30px;">
                    <h1>User만 글쓰기가 가능한 가입인사</h1>
                </div>

                <div class=" input-group mb-3">
                    <form method="post" action="/hello_board_in" style="display: inline">
                        <span><input type="text" class="form-control" placeholder="인사말을 입력하세요!" name="hello_greeting"></span>
                        <input type="hidden" name="hello_writer" th:value="${#httpServletRequest.remoteUser}" class="form-control mt-3">
                        <input type="button" class="btn btn-outline-secondary" value="등록">
                    </form>
                </div>
                <br>
                <div class="col-xs-12">
                    <div class="row">
                        <table class="table table-borderless"
                               style="text-align: center; border-collapse: collapse; margin-left: auto; margin-right: auto;border-left: none; border-right: none;">
                            <tr>
                                <th>aaa</th>
                                <td>하이요</td>
                                <td>2022-11-22 14:52:09</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPage -1)}">
                <a th:href="@{/hello_board(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
<div th:replace="footer::footer"></div>

</html>